<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>






    <!--1.给类起别名 2.连接数据库 3.加载mapper文件4 加载分页插件-->
    <typeAliases>
        <!--<typeAlias alias="e" type="bean.Emp"></typeAlias>-->
        <!--指定哪些包的类可以使用别名,默认别名:类名首字母小写
        （实际使用的时候，全部小写也可以做结果映射） -->
        <package name="com.qf.bean"></package>
    </typeAliases>
<!--    <plugins>-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
<!--        </plugin>-->
<!--    </plugins>-->
    <plugins>
        <!-- PageHelper4.1.6 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

</configuration>
