<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.AirqualityindexMapper">
  <resultMap id="BaseResultMap" type="com.qf.bean.Airqualityindex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="districtid" jdbcType="INTEGER" property="districtid" />
    <result column="monitortime" jdbcType="VARCHAR" property="monitortime" />
    <result column="pm10" jdbcType="INTEGER" property="pm10" />
    <result column="pm25" jdbcType="INTEGER" property="pm25" />
    <result column="monitoringstation" jdbcType="VARCHAR" property="monitoringstation" />
    <result column="lastmodifytime" jdbcType="VARCHAR" property="lastmodifytime" />
    <association property="district" javaType="com.qf.bean.District">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, districtid, monitortime, pm10, pm25, monitoringstation, lastmodifytime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from airqualityindex
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from airqualityindex
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.bean.Airqualityindex">
    insert into airqualityindex (id, districtid, monitortime, 
      pm10, pm25, monitoringstation, 
      lastmodifytime)
    values (#{id,jdbcType=INTEGER}, #{districtid,jdbcType=INTEGER}, #{monitortime,jdbcType=VARCHAR}, 
      #{pm10,jdbcType=INTEGER}, #{pm25,jdbcType=INTEGER}, #{monitoringstation,jdbcType=VARCHAR}, 
      #{lastmodifytime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.bean.Airqualityindex">
    insert into airqualityindex
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="districtid != null">
        districtid,
      </if>
      <if test="monitortime != null">
        monitortime,
      </if>
      <if test="pm10 != null">
        pm10,
      </if>
      <if test="pm25 != null">
        pm25,
      </if>
      <if test="monitoringstation != null">
        monitoringstation,
      </if>
      <if test="lastmodifytime != null">
        lastmodifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="districtid != null">
        #{districtid,jdbcType=INTEGER},
      </if>
      <if test="monitortime != null">
        #{monitortime,jdbcType=VARCHAR},
      </if>
      <if test="pm10 != null">
        #{pm10,jdbcType=INTEGER},
      </if>
      <if test="pm25 != null">
        #{pm25,jdbcType=INTEGER},
      </if>
      <if test="monitoringstation != null">
        #{monitoringstation,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.bean.Airqualityindex">
    update airqualityindex
    <set>
      <if test="districtid != null">
        districtid = #{districtid,jdbcType=INTEGER},
      </if>
      <if test="monitortime != null">
        monitortime = #{monitortime,jdbcType=VARCHAR},
      </if>
      <if test="pm10 != null">
        pm10 = #{pm10,jdbcType=INTEGER},
      </if>
      <if test="pm25 != null">
        pm25 = #{pm25,jdbcType=INTEGER},
      </if>
      <if test="monitoringstation != null">
        monitoringstation = #{monitoringstation,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifytime != null">
        lastmodifytime = #{lastmodifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.bean.Airqualityindex">
    update airqualityindex
    set districtid = #{districtid,jdbcType=INTEGER},
      monitortime = #{monitortime,jdbcType=VARCHAR},
      pm10 = #{pm10,jdbcType=INTEGER},
      pm25 = #{pm25,jdbcType=INTEGER},
      monitoringstation = #{monitoringstation,jdbcType=VARCHAR},
      lastmodifytime = #{lastmodifytime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAllAir" resultMap="BaseResultMap">
    select * from airqualityindex a,district d where a.districtid=d.id
    <if test="districtid!=-1 and districtid!=null">
      and a.districtid=#{districtid}
    </if>
    order by monitortime desc
  </select>
</mapper>
